<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="box">
            <h2>Hobby</h2>
            <p class="text">The essentials to provide your best work for clients.</p>
            <p class="price"><span class="b">$15</span><span class="m">/month</span></p>
            <button class="buy">Buy plan</button>
            <ul class="explain">
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>5 products</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Up to 1,000
                    subscribers</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Basic analytics</li>
            </ul>
        </div>
        <div class="box">
            <h2>Freelancer</h2>
            <p class="text">
                The essentials to provide your best work for clients.</p>
            <p class="price">
                <span class="b">$30</span><span class="m">/month</span>
            </p>
            <button class="buy">Buy plan</button>
            <ul class="explain">
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>5 products</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Up to 1,000
                    subscribers</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Basic analytics</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>48-hour support
                    response time</li>
            </ul>
        </div>
        <div class="box blue">
            <h2 class="blue2">Startup</h2>
            <p class="text">A plan that scales with your rapidly growing business.</p>
            <p class="price">
                <span class="b">$60</span><span class="m">/month</span>
            </p>
            <button class="buy blue3">Buy plan</button>
            <ul class="explain">
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>25 products</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Up to 10,000
                    subscribers</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Advanced analytics
                </li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>24-hour support
                    response time</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Marketing automations
                </li>
            </ul>
        </div>
        <div class="box">
            <h2>Enterprise</h2>
            <p class="text">Dedicated support and infrastructure for your company.</p>
            <p class="price">
                <span class="b">$90</span><span class="m">/month</span>
            </p>
            <button class="buy">Buy plan</button>
            <ul class="explain">
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Unlimited products
                </li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Unlimited subscribers
                </li>
                <li class="list"></li><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Advanced
                analytics</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>1-hour, dedicated
                    support response time</li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Marketing automations
                </li>
                <li class="list"><iconify-icon class="icon" icon="ic:twotone-check"></iconify-icon>Custom reporting
                    tools</li>
            </ul>
        </div>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>