<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <div class="nametags">
        <span class="nametag">
            <span class="a">
                <figure>
                    <img src="image/1.jpg" alt="">
                </figure>
                <div class="b">
                    <p class="name">Lorem, ipsum.</p>
                    <p class="jop">Lorem ipsum dolor sit.</p>
                    <div. class="admin">Admin
                </div>
            </span>
            <div class="contact">
                </a><span class="e">Email</span>
                <span class="c">Call</span>
            </div>
        </span>
        <span class="nametag">
            <span class="a">
                <figure>
                    <img src="image/2.jpg" alt="">
                </figure>
                <div class="b">
                    <p class="name">Lorem, ipsum.</p>
                    <p class="jop">Lorem ipsum dolor sit.</p>
                    <div. class="admin">Admin
                </div>        
            </span>
            <div class="contact">
                <span class="e">Email</span>
                <span class="c">Call</span>
            </div>
        </span>
        <span class="nametag">
            <span class="a">
                <figure>
                    <img src="image/3.jpg" alt="">
                </figure>
                <div class="b">
                    <p class="name">Lorem, ipsum.</p>
                    <p class="jop">Lorem ipsum dolor sit.</p>
                    <div. class="admin">Admin
                </div>        
            </span>
            <div class="contact">
                <span class="e">Email</span>
                <span class="c">Call</span>
            </div>
        </span>
        <span class="nametag">
            <span class="a">
                <figure>
                    <img src="image/4.jpg" alt="">
                </figure>
                <div class="b">
                    <p class="name">Lorem, ipsum.</p>
                    <p class="jop">Lorem ipsum dolor sit.</p>
                    <div. class="admin">Admin
                </div>        
            </span>
            <div class="contact">
                <span class="e">Email</span>
                <span class="c">Call</span>
            </div>
        </span>
        <span class="nametag">
            <span class="a">
                <figure>
                    <img src="image/5.jpg" alt="">
                </figure>
                <div class="b">
                    <p class="name">Lorem, ipsum.</p>
                    <p class="jop">Lorem ipsum dolor sit.</p>
                    <div. class="admin">Admin
                </div>        
            </span>
            <div class="contact">
                <span class="e">Email</span>
                <span class="c">Call</span>
            </div>
        </span>
        <span class="nametag">
            <span class="a">
                <figure>
                    <img src="image/6.jpg" alt="">
                </figure>
                <div class="b">
                    <p class="name">Lorem, ipsum.</p>
                    <p class="jop">Lorem ipsum dolor sit.</p>
                    <div. class="admin">Admin
                </div>        
            </span>
            <div class="contact">
                <span class="e">Email</span>
                <span class="c">Call</span>
            </div>
        </span>
        <span class="nametag">
            <span class="a">
                <figure>
                    <img src="image/9.jpg" alt="">
                </figure>
                <div class="b">
                    <p class="name">Lorem, ipsum.</p>
                    <p class="jop">Lorem ipsum dolor sit.</p>
                    <div. class="admin">Admin
                </div>        
            </span>
            <div class="contact">
                <span class="e">Email</span>
                <span class="c">Call</span>
            </div>
        </span>
        <span class="nametag">
            <span class="a">
                <figure>
                    <img src="image/7.jpg" alt="">
                </figure>
                <div class="b">
                    <p class="name">Lorem, ipsum.</p>
                    <p class="jop">Lorem ipsum dolor sit.</p>
                    <div. class="admin">Admin
                </div>        
            </span>
            <div class="contact">
                <span class="e">Email</span>
                <span class="c">Call</span>
            </div>
        </span>
        </div>

</body>

</html>