* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* display:none;은 영역 자체가 사라짐.(opacity:0;이랑 짝궁이라고 생각하기)
visiblity:hiddne;은 영역 자체는 남아있으나 보이지 않음. */


.list{
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    border-radius: 10px;
    margin:10px;
    padding:10px;
}
.subli{
    display: none;

}
.subli.active{
    display: block;
}
