<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style3.css">
</head>

<body>
    <div class="list">
        <ul class="ul">
            <li class="li">
                <div class="image-wrapper">
                    <span class="product-info">특가할인</span>
                    <figure>
                        <img src="image/반려동물.jpg" alt="반려동물.jpg">
                    </figure>
                    <p class="p1">래핑찰리 ~78% OFF</p>
                    <p class="p2">반려동물을 생각한 제품</p>
                </div>
            </li>
            <li class="li">
                <div class="image-wrapper">
                    <span class="product-info">특가할인</span>
                    <figure>
                        <img src="image/막둥이.jpg" alt="막둥이.jpg">
                    </figure>
                    <p class="p1">6개 2만 원대</p>
                    <p class="p2">막둥이 산책 안전하게</p>
                </div>
            </li>
            <li class="li">
                <div class="image-wrapper">
                    <span class="product-info">특가할인</span>
                    <figure>
                        <img src="image/발바닥.jpg" alt="발바닥.jpg">
                    </figure>
                    <p class="p1">간편하지만 확실해</p>
                    <p class="p2">수딩 풋 클렌저로 깔끔</p>
                </div>
            </li>
            <li class="li">
                <div class="image-wrapper">
                    <span class="product-info">특가할인</span>
                    <figure> <img src="image/세이프.jpg" alt="세이프.jpg"></figure>
                    <p class="p1">네이버 단독 구성</p>
                    <p class="p2">세이프 클립+스프레이 겟</p>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>