<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<iconify-icon height="100" ;width="100" icon="wi:cloudy"></iconify-icon>
<div class="container">
    <figure><img src="image/구름.jpg" alt="구름"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title"><button class="btn">구름<iconify-icon class="icon"icon="wi:cloud"></iconify-icon></button>Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>

    </div>
</div>
<div class="container">
    <figure><img src="image/무지개.jpg" alt="무지개"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title"><button class="btn2">무지개<iconify-icon icon="fluent-emoji-flat:rainbow"></iconify-icon></button>Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>
    </div>
</div>
<div class="container">
    <figure><img src="image/구름.jpg" alt="구름"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title">Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>

    </div>
</div>
<div class="container">
    <figure><img src="image/무지개.jpg" alt="무지개"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title">Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>
    </div>
</div>
<div class="container">
    <figure><img src="image/구름.jpg" alt="구름"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title">Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>

    </div>
</div>
<div class="container">
    <figure><img src="image/무지개.jpg" alt="무지개"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title">Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>
    </div>
</div>
<div class="container">
    <figure><img src="image/구름.jpg" alt="구름"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title">Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>

    </div>
</div>
<div class="container">
    <figure><img src="image/무지개.jpg" alt="무지개"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title">Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>
    </div>
</div>
<div class="container">
    <figure><img src="image/구름.jpg" alt="구름"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title">Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>

    </div>
</div>
<div class="container">
    <figure><img src="image/무지개.jpg" alt="무지개"></figure>
    <!-- alt=""는 대체문자, 이미지가 손상되었거나 보지 못할 때 대신 설명 -->
    <div class="content">
        <h2 class="title">Lorem, ipsum.</h2>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis ullam maxime qui voluptate
            inventore earum voluptates? Rem, debitis dignissimos vitae sit at cum quisquam eaque ullam, voluptas
            soluta repellendus voluptatum!</p>
    </div>
</div>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>