<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style3.css">
</head>

<body>
    <div class="drinks">
        <span class="drink">
            <span class="coffee">
                <span class="w"><span class="new">NEW</span>
                    <figure>
                        <img src="image/r1.jpg" alt="">
                    </figure>
                    <p class="name">리저브 나이트로</p>
                </span>
            </span>
            <span class="drink">
                <span class="coffee">
                    <span class="w"><span class="new">NEW</span>
                        <figure>
                            <img src="image/s.jpg" alt="">
                        </figure>
                        <p class="name">씨솔트 카라멜 콜드 브루
                        </p>
                    </span>
                </span>
            </span>
            <span class="drink">
                <span class="coffee">
                    <span class="w"><span class="new">NEW</span>
                        <figure>
                            <img src="image/c.jpg" alt="">
                        </figure>
                    <p class="name">콜드 브루</p>
                </span>
            </span>
            <span class="drink">
                <span class="coffee">
                    <figure>
                        <img src="image/n.jpg" alt="">
                    </figure>
                    <p class="name">나이트로 바닐라 크림</p>
                </span>
            </span>
        </span>
    </div>
</body>

</html>