<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="title"><h2>Food Essay</h2></div>
        <div class="boxs">
            <div class="c">
                <img class="image1" src="/image/참외.jpg" alt="참외">
                <p class="text1">황금빛 여름 열매, 코리안 멜론</p>
                <p class="text2">용암참외, 미니참외, 반전참외</p>
            </div>
            <div class="o">
                <img class="image2" src="/image/원소주.jpg" alt="원소주">
                <p class="text1">여름밤의 홈술 파티
                </p>
                <p class="text2">원소주 페어링</p>
            </div>
            <div class="h">
                <img class="image3" src="/image/하와이미식.jpg" alt="하와이 미식">
                <p class="text1">떠나요, 하와이 미식여행</p>
                <p class="text2">집에서 간편히 쏙</p>
            </div>
        </div>
        <button class="easy">Food Essay 전체보기<iconify-icon icon="iconamoon:arrow-right-2-light"></iconify-icon></button>
    </div>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>