<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="section">
            <figure><img src="image/smile.png" alt="smile"></figure>
            <div id="data" class="content">여기는 데이터 속성입니다.</div>
            <div class="text">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eligendi commodi hic dolor
                    reprehenderit architecto voluptate nesciunt eveniet excepturi velit, atque error. Iusto vel at
                    ipsum eaque, rem velit aliquam.</p>
            </div>
        </div>
    </div>
    <div class="section"></div>
    <figure><img src="image/sad.png" alt="sad"></figure>
    <div class="text">
        <h2>Lorem, ipsum dolor.</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eligendi commodi hic dolor
            reprehenderit architecto voluptate nesciunt eveniet excepturi velit, atque error. Iusto vel at
            ipsum eaque, rem velit aliquam.</p>
    </div>
    </div>
    </div>
    <div class="section">
        <div class="part">
            <figure><img src="image/smile.png" alt="smile"></figure>
            <div class="text">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eligendi commodi hic dolor
                    reprehenderit architecto voluptate nesciunt eveniet excepturi velit, atque error. Iusto vel at
                    ipsum eaque, rem velit aliquam.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="part">
            <figure><img src="image/sad.png" alt="sad"></figure>
            <div class="text">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eligendi commodi hic dolor
                    reprehenderit architecto voluptate nesciunt eveniet excepturi velit, atque error. Iusto vel at
                    ipsum eaque, rem velit aliquam.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="part">
            <figure><img src="image/smile.png" alt="smile"></figure>
            <div class="text">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eligendi commodi hic dolor
                    reprehenderit architecto voluptate nesciunt eveniet excepturi velit, atque error. Iusto vel at
                    ipsum eaque, rem velit aliquam.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="part">
            <figure><img src="image/sad.png" alt="sad"></figure>
            <div class="text">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eligendi commodi hic dolor
                    reprehenderit
                    architecto voluptate nesciunt eveniet excepturi velit, atque error. Iusto vel at ipsum eaque,
                    rem velit
                    aliquam.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="part">
            <figure><img src="image/smile.png" alt="smile"></figure>
            <div class="text">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eligendi commodi hic dolor
                    reprehenderit
                    architecto voluptate nesciunt eveniet excepturi velit, atque error. Iusto vel at ipsum
                    eaque,
                    rem
                    velit
                    aliquam.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="part">
            <figure><img src="image/sad.png" alt="sad"></figure>
            <div class="text">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt, error.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="part">
            <figure><img src="image/smile.png" alt="smile"></figure>
            <div class="text">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eligendi commodi hic dolor
                    reprehenderit
                    architecto voluptate nesciunt eveniet excepturi velit, atque error. Iusto vel at ipsum
                    eaque,
                    rem
                    velit
                    aliquam.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="part">
            <figure><img src="image/sad.png" alt="sad"></figure>
            <div class="text">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eligendi commodi hic dolor
                    reprehenderit architecto voluptate nesciunt eveniet excepturi velit, atque error. Iusto vel
                    at
                    ipsum
                    eaque, rem velit aliquam.</p>
            </div>
        </div>
    </div>
    </div>
    <script src="script.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script>
        AOS.init();
    </script>

</body>

</html>